@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}
/*
button {
  border-radius: 20px;
  border: 1px solid #2dabeb;
  background: linear-gradient(90.17deg, #4ac7b3, 0.15%, #2dabeb 99.87%);
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}
*/
button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
      0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container{
  transform: translateX(-100%);
}

.overlay {

  background:linear-gradient(90.17deg, #4ac7b3, 0.15%, #2dabeb 99.87%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
    transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}


/* POP UPPP*/
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1111111111111111111111;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-content {
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}



/* real stuff*/
.login-admin{
  padding: 8px;
  margin: 9px;
  border-radius: 20px;
  box-shadow: 1px 10px 49px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 10px 49px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 10px 49px 1px rgba(0,0,0,0.75);}
.login-admin .imagelogin{
  width: 70vw;
  height: 94.5vh;
  z-index: 0.1;
}
.login-admin .imagelogin img{
  width: 70vw;
  height: 94.5vh;
  z-index: 99;
  border-radius: 20px;
  z-index: 0.1;
}
.sign{
  background-color: white;
  width: 370px;
  height: 470px;
  border-radius: 15px;
 top: 80px;
 left: 800px;
  z-index: 0.1;
  position: absolute;
  box-shadow: 1px 10px 49px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 10px 49px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 10px 49px 1px rgba(0,0,0,0.75);
align-items: center;
}
.sign h1{
  color: #2dabeb;
  font-size: 38px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  display: grid;
  justify-content: center;
}
.sign h2{
  font-size: 15px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-top: 24px;
  display: grid;
  justify-content: center;
}
.sign h3{
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  display: grid;
  font-weight: 100;
  justify-content: center;
}
.input-group {
  position: relative;
  margin: 20px 0;
  border-radius: 10px;
}
.input-group label {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  font-size: 16px;
  color: rgb(173, 173, 173);
  padding: 0 5px;
  pointer-events: none;
  transition: .5s;
}
#closeBtn{
  border-radius: 10px;
  border: 1px solid #2dabeb;
  background: linear-gradient(90.17deg, #4ac7b3, 0.15%, #2dabeb 99.87%);
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}
.popup-content h2{
  width: 300px;
  font-size: 15px;
  margin-bottom: 15px;
}
/*emojiss*/
.popup-content h2 img{
  width: 20px;
  height: 20px;
}
#hello-img {
  animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px); /* Adjust the distance as needed */
  }
}
/*tip of the day*/
.tip-container {
  position: relative;
  width: fit-content;
  animation: bounce 0.5s infinite alternate;
  margin-top: -600px;
  margin-left: 8px;
}

.tip-bubble {
  background-color: #ffffff; /* Background color */
  color:#2196F3; /* Text color */
  padding: 10px; /* Padding */
  border-radius: 10px; /* Border radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
}
.tip-bubble p{
  font-size: 15px;
  font-family: 'Poppins';
  font-weight: 600;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px); /* Adjust the distance as needed */
  }
}

.popups {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  animation: fadeIn 0.5s ease forwards;
}

.popups-content {
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

#closePopups {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#closePopups:hover {
  background-color: #0056b3;
}






.input-group input {
  /*
  width: 320px;
  background-color: red;
  height: 40px;
  font-size: 16px;
  color: rgb(136, 14, 14);
  padding: 0 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1.2px solid black;
  outline: none;*/
  width: 210px;
  display: grid;
  justify-content: center;
  margin-left: 10px;
  border-radius: 60px;
  background-color: rgb(255, 1, 1);
  border: 1px solid gray;
  height: 40px;
  border-top-right-radius: 10px;
}
.input-group input:focus{
  border: 1px solid gray;
}
.input-group input:hover{
  border: 1px solid rgb(255, 0, 0);

}

.input-group input:focus~label,
.input-group input:valid~label,
.input-group textarea:focus~label,
.input-group textarea:valid~label {
  top: 0;
  font-size: 12px;
  background: transparent;
}
form{height: auto;}
.sign form div {
  display: flex;
  flex-direction: column;
  display: grid;
  justify-content: center;
  margin-top: 10px;
 /* Optional: Adjust margin as needed */}
.sign form div input{
  width: 300px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 20px;
}
.sign form div label{
  margin-bottom: -19px; /* Optional: Adjust margin as needed */
font-size: 12px;
font-weight: 400;
display: grid;
justify-content: flex-start;
}/* The switch (checkbox input) */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-left: -250px;
  display: flex;
  margin-top: -6px;
  justify-content: flex-start;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider (circle) */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
  height: 20px;
  margin-top: 8px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}


#span{
  font-size: 12px;
  margin-bottom: 10px;
  position: absolute;
  margin-left: 49px;
  margin-top: 114px;
  font-weight: 600;
}
.sign form span a {
  font-weight: 600;
  color: #2196F3;
  margin-left: 80px;
  font-size: 11px;
}
#sign{
  background-color: #2dabeb;
  width: 300px;
  display: grid;
  justify-content: center;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 19px;
  display: grid;
  justify-content: center;

}
#signgoogle{

  background-color: black;
  width: 300px;
  display: grid;
  justify-content: center;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  margin-left: 37px;
  margin-top: 2px; display: flex;
  align-items: center;
  height: 45px;
}
#signgoogle img{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
/* real one */
/*
.login-page {
  background-color: #F1F3F6;
}

.login-form {
  background-color: #fff;
  box-shadow: 0px 12px 50px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
}

.login-form form {
  width: 100%;
  padding: 0 30px;
}

.login-form .logo {
  padding: 30px 0;

}


.login-form .page-heading {
  text-align: center;
  padding: 10px 0;
}

.login-form .page-heading h2 {
  font-size: 20px;
  font-weight: 700;
}

.items {
  margin-top: 20px;
  margin-bottom: 5px;
}

.items label {
  font-size: 16px;
  color: #555555;
  margin-bottom: 8px;
}

.items .input {
  background-color: #f1f3f6;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
}

.items .input i {
  width: 50px;
  height: 50px;
  background-color: #FD7401;
  color: #fff;
  display: grid;
  place-content: center;
  font-size: 24px;
}

.items .input input {
  background-color: transparent;
  border: 0;
  padding: 10px;
  width: calc(100% - 50px);
}

.forgot-password {
  text-align: right;
}

.forgot-password a {
  color: #1E2772;
  font-size: 14px;
}

.form-signin {
  text-align: center;
  margin: 15px 0;
}

.form-signin .btn {
  background-color: #FD7401;
  width: 100%;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  box-shadow: 0px 8px 12px rgba(253, 116, 1, 0.3);
}

.or-option {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.or-option:before {
  width: 100%;
  height: 1px;
  background-color: #C2C2C2;
  position: absolute;
  top: 15px;
  left: 0;
  content: '';
  z-index: 1;
}

.or-option:after {
  width: 40px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  content: '';
  z-index: 2;
}

.or-option p {
  padding: 5px;
  text-transform: uppercase;
  color: #C2C2C2;
  font-size: 14px;
  margin-bottom: 0;
  z-index: 3;
  position: relative;
  display: block;
  width: 100%;
}

.form-signup {
  text-align: center;
}

.form-signup .btn {
  background-color: #fff;
  width: 100%;
  color: #FD7401;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #FD7401;
}

.login-extra {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
*/
.botona{
  cursor: pointer;
}
