
<body>

    <!-- ***** Preloader Start
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    Preloader End ***** -->
  
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="index.html" class="logo">
                <h4><span>DITICTIFY</span></h4>
              </a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                <li class="scroll-to-section"><a href="#about">About Us</a></li>
                <li class="scroll-to-section"><a href="#services">Services</a></li>
                <li class="scroll-to-section"><a href="#portfolio"> </a></li>
                <li class="scroll-to-section"><a href="#blog">  </a></li> 
                <li class="scroll-to-section"><a href="#contact"></a></li> 
                <li class="scroll-to-section"><div class="main-red-button"><a  [routerLink]="['/Login']">Login</a></div></li> 
              </ul>        
              <a class='menu-trigger'>
                  <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->
  
    <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6 align-self-center  left-content">
                <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s" style="padding-bottom: 0px;">
                  <h6>Welcome to  DETECTIFY</h6>
                  <h2> <em>signature-based</em> &amp; <span>image-based</span> malware detection systems</h2>
                  <p>Secure your digital world with our site, guaranteeing comprehensive protection against cyber threats .</p>
                  
                </div>
                <form id="search" action="#" method="GET" >
                  
                  <button class="main-button" [routerLink]="['/signup']">Sign up now</button>
              
                
              </form>
              </div>
              <div class="col-lg-6 right-content">
                <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                  <img src="assets/images/banner-right-image.png" alt="team meeting">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Scripts -->
  </body>
  