<body>

  
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="" class="logo">
                <h4><span>DITICTIFY</span></h4>
              </a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                <li class="scroll-to-section"><a href="#services">Services</a></li>
                <li class="scroll-to-section"><a href="#about">About</a></li>
                <li class="scroll-to-section"><a href="#pricing"> </a></li>
                
                <li><div class="gradient-button"><a id="modal_trigger" href="#modal" >Log out<i class="fa-solid fa-right-from-bracket" style=" margin-left: 8px;"></i></a></div></li> 
              </ul>        
              <a class='menu-trigger'>
                  <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- ***** Main Banner Area Start ***** -->
    <div id="services" class="services section">
      <div class="row cards">
       
          <div class=" col-lg-3 card service-item first-service">
            <div class="icon"></div>
            <h4>Image-based </h4>
            <p> Analyzes the visual characteristics of malware samples to automatically identify and classify malicious software. </p>
            <div class="text-button">
              <a [routerLink]="['/image']">Analyze now  <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
     
        
          <div class=" col-lg-3 card service-item second-service">
            <div class="icon"></div>
            <h4>Signature-based</h4>
            <p> Identifies malware by searching for unique signatures, or specific code patterns, known to be associated with threats . </p>
            <div class="text-button">
              <a [routerLink]="['/signature']">Analyze now<i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
          <div class=" col-lg-3 card service-item third-service">
            <div class="icon"></div>
            <h4>Url-based</h4>
            <p>Check suspicious websites and links by analyzing their URLs using machine learning algorithme </p>
            <div class="text-button">
              <a href="#">Analyze now  <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
    </div>

      <!--<div class="row cards">
        <div class="col-lg-3">
          <div class="card service-item first-service">
            <div class="icon"></div>
            <h4>App Maintenance</h4>
            <p>You are not allowed to redistribute this template ZIP file on any other website.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card service-item second-service">
            <div class="icon"></div>
            <h4>Rocket Speed of App</h4>
            <p>You are allowed to use the Chain App Dev HTML template. Feel free to modify or edit this layout.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card service-item third-service">
            <div class="icon"></div>
            <h4>Multi Workflow Idea</h4>
            <p>If this template is beneficial for your work, please support us <a rel="nofollow" href="https://paypal.me/templatemo" target="_blank">a little via PayPal</a>. Thank you.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>-->
    </div> 
    
  </body>